<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    
    <form action="/tasks/list" method="POST" style="margin:150px;">
      <label for="task-id">Task Number:</label>
      <input id="task-id" type="text" name="task-id" style="width: 300px">
      <br>
      <label for="task-name">Enter a Task:</label>
      <input id="task-name" type="text" name="task-name" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>